*.bak
*.o
*.a
*.elf
*.hex
*.bin
*~
*desktop.ini
*/AUTOGEN/*
*.cywrk.*
*.cyprj.*
**/Export/**
**/Generated_Source/**
**/codegentemp/**
**/CortexM0/**
**/CortexM3/**
*.html
*.svd
*.rpt
*.cyfit
*.cycdx
**/out/**
*.log